html.ip-redact-on .ip-redact {
  filter: blur(3px);
  background: rgba(0, 0, 0, 0.03);
  border-radius: 2px;
  user-select: none;
  cursor: not-allowed;
}

html.ip-redact-on input.ip-redact-input,
html.ip-redact-on textarea.ip-redact-input {
  filter: blur(3px);
}
